﻿body {
}

#li:hover{

    color:#fff;
    background-color:Highlight;

}
 ul li:active{

    color:maroon;
    background-color:aqua;

}
ul li:visited{

    color:darkgrey;
    background-color:cornflowerblue;

}


