﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home.Master" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="LibraryManagementSystem.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<div class="panel ">
    <div class="panel-heading bg-primary">
        <h1>Hello</h1>

    </div>

    <div class="panel-body" style="border:1px solid cornflowerblue ; ">
      <h3> This is the body of the panel</h3>
    </div>

</div>
</asp:Content>
